/* Generic Styles definition */
/* Mobile First */
@use '../0-vendors/' as *;
@use '../1-utils/' as *;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	transition: all 0.2s, box-shadow 0.08s ease-in;
}

h1,
h2 {
	padding-bottom: 0.75rem;
}

h1 {
	font-size: map-get($font-size, 'medlarge');
	font-weight: map-get($font-weight, 'bold');
	@include respond(desktop) {
		font-size: map-get($font-size, 'large');
	}
}

h2 {
	font-size: map-get($font-size, 'medium');
	font-weight: map-get($font-weight, 'xbold');
	@include respond(desktop) {
		font-size: map-get($font-size, 'medlarge');
	}
}

h3 {
	font-size: map-get($font-size, 'smedium');
	font-weight: map-get($font-weight, 'bold');
	@include respond(desktop) {
		font-size: map-get($font-size, 'medium');
	}
	@include respond(large-desktop) {
		font-size: map-get($font-size, 'medium');
	}
}

a,
p,
span,
input,
button {
	font-size: map-get($font-size, 'small');
	font-weight: map-get($font-weight, 'medium');
	@include respond(desktop) {
		font-size: map-get($font-size, 'smedium');
	}
	@include respond(large-desktop) {
		font-size: map-get($font-size, 'medium');
	}
}

.link {
	text-decoration: underline;
}

.link:hover,
.link:focus,
.link:active {
	cursor: pointer;
	color: $clr-primary;
	font-weight: map-get($font-weight, 'bold');
}
