@use '../1-utils/' as *;
@use '../2-base/' as *;

.post__wrapper {
	@include shadow-box;
	@extend %border-radius2;
	box-sizing: border-box;
	padding: 0.25rem 1rem;
	margin-top: 2rem;
}

.post__ownerId,
.post__postDate {
	font-size: map-get($font-size, xsmall);
	font-weight: map-get($font-weight, light);
	color: lighter($clr-tertiary, 15%);
	padding-left: 4rem;
}

.post__mainPart {
	margin: 0.5rem 0;
	padding: 0.5rem 0;
	border-top: solid thin $clr-tertiary;
	border-bottom: solid thin $clr-tertiary;
}

.post__postImage__container,
.post__postImage__content {
	max-width: 25rem;
	min-width: 20rem;
}

.post__postImage__container {
	padding: 0.5rem 0.12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.post__footPart {
	display: flex;
	align-items: center;
	justify-content: center;
}

.post__isLikedIcon {
	color: $clr-primary;
}

.post__likeIcon:hover,
.post__isLikedIcon:hover {
	cursor: pointer;
	color: $clr-secondary;
}
