@use '../1-utils/' as *;
@use '../2-base/' as *;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
