@use '../1-utils/' as *;
@use '../2-base/' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
	background: #fff;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login__logo {
	display: flex;
	width: 15rem;
}

.login__section {
	@include shadow-box;
	@include sizeContent2;
	@extend %border-radius2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.login__section form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 70%;
	width: 90%;
}

.modalBackground {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $clr-tertiary;
	position: fixed;
}

.modalContainer {
	@include shadow-box;
	@include sizeContent2;
	@extend %border-radius2;
	background: white;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.modalContainer section {
	width: 100%;
	max-width: 420px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}

.modalContainer form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding-bottom: 1rem;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: $clr-tertiary;
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions > svg {
	margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.errormsg {
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}
