// /* Placeholders 
// This file defines all placeholders and extension class */
@use "vars" as *;

// /* PlaceHolders of the radius parts */
%border-radius1 {
    border-radius: 0.5rem;
}

%border-radius2 {
    border-radius: 0.75rem;
}

%border-radius3 {
    border-radius: 1rem;
}

// /* PlaceHolders for the background colours part */

// %bg__darkgrey {
//   background-color: $colour-darkGrey;
// }

// %bg__darkgrey--fo1 {
//   background-color: fade-out($colour-darkGrey, 0.8);
// }

// %bg__darkgrey--fo2 {
//   background-color: fade-out($colour-darkGrey, 0.92);
// }

// %bg__drakgrey--fo3 {
//   background-color: fade-out($colour-darkGrey, 0.96);
// }

// %bg__lightgrey {
//   background-color: $colour-lightGrey;
// }

// %bg--active {
//   background-color: fade-out($colour-mediumPurple, 0.82);
// }
