/* Buttons  */
/* Mobile First */
@use '../1-utils/' as *;
@use '../2-base/' as *;

button {
	@include sizeContent1;
	@extend %border-radius1;
	padding: 0.375rem;
	text-decoration: none;
	border: 1px solid $clr-tertiary;
	color: $clr-tertiary;
	box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
	line-height: 1.15;
	margin: 12px 0 0;
	padding: 0 25px;
	transform: translateZ(0);
}

button:hover,
button:focus {
	@include shadow-box-over;
	background: $clr-primary;
	color: white;
	border: 1px solid $clr-primary;
	cursor: pointer;
}

button:disabled {
	box-shadow: none;
	border: none;
	background: $clr-tertiary;
	color: darken(white, 10%);
	cursor: default;
}
