@forward 'form';
@forward 'buttons';
@forward 'navbar';
@forward 'posts';

// @forward "footer";

// @forward "sections";
// @forward "restaurants";

/*Files in this group allow the layout of parts or entire pages.*/
