// /* Header  */
// /* Mobile First */
@use '../1-utils/' as *;
@use '../2-base/' as *;
nav {
	@include shadow-box;
	margin-bottom: 2rem;
	padding: 0.5rem 1rem;
	.nav-container {
		display: flex;
		justify-content: space-between;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		width: 80%;
		@include respond(large-phone) {
			width: 50%;
		}
		@include respond(tablet) {
			width: 35%;
		}
		@include respond(desktop) {
			width: 30%;
		}
		@include respond(large-desktop) {
			width: 20%;
		}
	}

	.icon {
		&--long {
			width: 15rem;
			height: auto;
			display: none;
			@include respond(large-phone) {
				display: flex;
			}
		}
		&--short {
			width: 2.4rem;
			display: flex;
			@include respond(large-phone) {
				display: none;
			}
		}
	}

	.link {
		@extend %border-radius1;
		padding: 0.375rem;
		text-decoration: none;
		border: 1px solid;
		color: $clr-tertiary;
	}
	.link:hover {
		background: $clr-primary;
		color: white;
	}
}
